@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Titillium+Web&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Titillium Web', sans-serif;
}

.navbar{
    width: auto;
    height: 70px;
    background-color: #2C2F33;
}

.navbar ul{
    display: inline-flex;
    list-style-type: none;
}

.navbar ul li{
    width: 80px;
    height: 80px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    position: relative;
    left: 905px;
    top: 15px;
}

.navbar ul li a:hover{
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    border-radius: 0.5rem;
    background-color: #5865F2;
}

.active a{
    background-color: #5865F2;
    border-radius: 0.5rem;
}

.container{
    width: auto;
    height: 600px;
    background-image: url("images/container.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-bottom: 5px solid white;
}

#name{
    text-align: center;
    position: relative;
    top: 50px;
    font-size: 50pt;
    color: white;
}

#rank{
    text-align: center;
    position: relative;
    top: 50px;
    font-size: 35pt;
    color: white;
}

#logo{
    text-align: center;
    position: relative;
    top: 100px;
}

.projects{
    width: auto;
    height: 600px;
    background-image: url("images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-bottom: 5px solid white;
}

#about{
    text-align: center;
    color: white;
    font-size: 50pt;
    position: relative;
    top: 20px;
}

#pragraf{
    color: white;
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 35pt;
}

.iletisim{
    width: auto;
    height: 400px;
    background-image: url("images/contact.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-bottom: 5px solid white;
}

#ilet{
    text-align: center;
    position: relative;
    top: 20px;
    color: #5663F7;
    font-size: 50pt;
}

#dc{
    text-align: center;
    font-size: 45pt;
    color: black;
    position: relative;
    top: 20px;
}

#ig{
    text-align: center;
    font-size: 45pt;
    color: black;
    position: relative;
    top: 20px;
}

#git{
    text-align: center;
    font-size: 45pt;
    color: black;
    position: relative;
    top: 20px;
}

.alt{
    width: auto;
    height: 90px;
    background-color: #2C2F33;
}

#alttext{
    text-align: center;
    color: white;
    font-size: 35px;
    position: relative;
    top: 25px;
}

.uyari{
    text-align: center;
    background-image: url("images/container.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
    height: 900px;
}

#alertt{
    color: white;
    font-size: 50pt;
    position: relative;
    top: 350px;
}