*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("İmages/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.navbar{
    background: rgb(24, 24, 24);
    text-align: center;
    opacity: 0.8;
}

.navbar ul{
    display: inline-flex;
    list-style: none;
}

.navbar ul li{
    width: 150px;
    margin: 15px;
    padding: 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}

.navbar ul li:hover{
    background: rgb(61, 61, 61);
    border-radius: 10px;
    opacity: 0.8;
    -webkit-transition: all 0.5s;
    transition: all 0.2s;
}

.navbar .fas{
    margin-right: 8px;
}

.navbar .fab{
    margin-right: 8px;
}

.logo{
    text-align: center;
    margin-top: 7%;
}

.name{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

.unvan{
    text-align: center;
    font-size: 25px;
}

.baslik1{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    margin-top: 40px;
}

.aciklama1{
    text-align: center;
    font-size: 20px;
}

.ey{
    text-align: center;
    margin-top: 25px;
}

.button{
    margin-top: 40px;
    margin-left: 530px;
}

.button a:hover{
    opacity: 0.7;
    -webkit-transition: all 0.5s;
    transition: all 0.2s;
}

.ataturk{
    text-align: center;
}

.art{
    text-align: center;
    margin-top: 35px;
}

.art img:hover{
    opacity: 0.5;
    -webkit-transition: all 0.5s;
    transition: all 0.2s;
}

.discord{
    margin-top: 20px;
    text-align: center;
}

.isim{
    font-size: 35px;
    text-align: center;
}