@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html body{
    background-image: linear-gradient(to right top, #051937, #001c2d, #001b1c, #00170c, #0d1103);
    font-family: 'Titillium Web', sans-serif;
}

.content{
    width: 900px;
    height: 500px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    margin: auto;
    margin-top: 120px;
    color: white;
    border-radius: 1rem;
    font-family: 'Titillium Web', sans-serif;
}

#name{
    position: relative;
    top: 50px;
    left: 100px;
    font-size: 65px;
}

#comment{
    position: relative;
    top: 60px;
    left: 100px;
    font-size: 35px;
}

#me{
    float: right;
    position: relative;
    right: 70px;
    bottom: 90px;
    border-radius: 50%;
}

#me:hover{
    width: 200px;
    height: 200px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

#insta{
    text-decoration: none;
    color: white;
    font-size: 95px;
    position: relative;
    top: 50px;
    left: 180px;
}

#git{
    text-decoration: none;
    color: white;
    font-size: 95px;
    position: relative;
    top: 50px;
    left: 210px;
}

#linkedin{
    text-decoration: none;
    color: white;
    font-size: 95px;
    position: relative;
    top: 50px;
    left: 240px;
}

#insta:hover{
    color: #5851DB;
    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    font-size: 110px;
}

#git:hover{
    color: #5851DB;
    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    font-size: 110px;
}

#linkedin:hover{
    color: #5851DB;
    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    font-size: 110px;
}

.bio{
    width: 900px;
    height: 500px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    margin: auto;
    margin-top: 120px;
    color: white;
    border-radius: 1rem;
    font-family: 'Titillium Web', sans-serif;
}

#baslik{
    text-align: center;
    position: relative;
    top: 10px;
}

#mybio{
    text-align: center;
    font-size: 35px;
}

#imza{
    position: relative;
    bottom: 60px;
    left: 200px;
}

.contact{
    width: 900px;
    height: 500px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    margin: auto;
    margin-top: 120px;
    color: white;
    border-radius: 1rem;
    font-family: 'Titillium Web', sans-serif;
}

#cBaslik{
    text-align: center;
    position: relative;
    top: 10px;
}

.alt{
    width: auto;
    text-align: center;
    color: white;
}

#iletisim{
    text-align: center;
    position: relative;
    top: 50px;
    font-size: 25px;
}

#iletisim-form{
    margin: auto;
}

#sub{
    border:none;
    outline: none;
    border-radius: 0.5rem;
    width: 100px;
    height: 50px;
    background-color: #90ee90;
    color: white;
    text-shadow: black 1px 1px 1px;
    position: relative;
    top: 50px;
    left: 100%;
}

#sub:hover{
    -webkit-box-shadow: 0px -1px 18px 5px rgba(0,0,0,1);
-moz-box-shadow: 0px -1px 18px 5px rgba(0,0,0,1);
box-shadow: 0px -1px 18px 5px rgba(0,0,0,1);
background-color: #7ed57e;
    -webkit-transition: linear 0.2s;
    transition: linear 0.2s;
    width: 110px;
    height: 60px;
}

#urmsg{
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: #a4cfe8;
    color: white;
    height: 37px;
    position: relative;
    top: 10px;
}

#maill{
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: #a4cfe8;
    color: white;
}

#eposta{
    text-align: center;
}

#mesajiniz{
    text-align: center;
    position: relative;
    top: 5px;
}